/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/service-worker.js
/public/fonts
/public/.DS_Store
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store