// BS4 Classes
.form-group label { font-size: 0.7rem; }
.bg-light { background-color: $brand-primary !important; }
.navbar-brand { font-family: 'Sacramento',Helvetica; }
.form-control {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $brand-primary;
  border-radius: 0;
}

// Custom Classes
.home-logo span {
  font-size: 3.5rem;
  font-family: "Sacramento", Helvetica;
  color: $brand-primary;
}

.input-room-id {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  background-color: #fff;
  color: #028802;
  border: 1px solid lightgray;
  height: 80px !important;

  &::-webkit-input-placeholder {
    color: #dedede !important;
  }

  &::-moz-placeholder {
    color: #dedede !important;
  }
}

.vue-up .message {
  padding: 15px !important;
  font-size: 2rem !important;
}

.room-member-list {
  list-style: none;
  padding-left: 0;

  .btn {
    font-size: 0.8rem !important;
  }
}

