.bg-light { background-color: $brand-primary !important; }
.navbar-brand { font-family: 'Sacramento',Helvetica; }
label { font-size: 0.7rem; }

.home-logo span {
  font-family: 'Sacramento',Helvetica;
  font-size: 3.5rem;
  color: $brand-primary;
  color: #f48eb1;
}