.bg-light { background-color: $brand-primary !important; }
.navbar-brand { font-family: 'Sacramento',Helvetica; }
label { font-size: 0.7rem; }

.home-logo span {
  font-family: 'Sacramento',Helvetica;
  font-size: 3.5rem;
  color: $brand-primary;
  color: #f48eb1;
}

.btn-room-id {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #028802;
  height: 80px !important;

  &::-webkit-input-placeholder {
    color: #dedede !important;
  }

  &::-moz-placeholder {
    color: #dedede !important;
  }
}